name: ci

on:
  push: { branches: [main] }
  pull_request: { branches: [main] }

jobs:
  tests-checks:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: npm i -g --force corepack && corepack enable
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with: { node-version: lts/*, cache: pnpm }
      - run: pnpm install
      - run: pnpm stub && pnpm lint
      - run: pnpm test:types
  tests-rollup:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: npm i -g --force corepack && corepack enable
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with: { node-version: lts/*, cache: pnpm }
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
        if: ${{ matrix.os != 'windows-latest' }}
        with: { bun-version: latest }
      - uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        if: ${{ matrix.os != 'windows-latest' }}
        with: { deno-version: v2.x }
      - run: pnpm install
      - run: pnpm stub && pnpm lint
        if: ${{ matrix.os != 'windows-latest' }}
      - run: pnpm test:types
        if: ${{ matrix.os != 'windows-latest' }}
      - run: pnpm build
      - run: pnpm vitest run
        env: { NITRO_BUILDER: rollup }
  tests-rolldown:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: npm i -g --force corepack && corepack enable
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with: { node-version: lts/*, cache: pnpm }
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
        if: ${{ matrix.os != 'windows-latest' }}
        with: { bun-version: latest }
      - uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        if: ${{ matrix.os != 'windows-latest' }}
        with: { deno-version: v2.x }
      - run: pnpm install
      - run: pnpm build
      - run: pnpm vitest run
        env: { NITRO_BUILDER: rolldown }
  publish-pkg-pr-new:
    runs-on: ubuntu-latest
    needs: [tests-checks, tests-rollup, tests-rolldown]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with: { fetch-depth: 0 }
      - run: npm i -fg corepack && corepack enable
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with: { node-version: lts/*, cache: "pnpm" }
      - run: pnpm install
      - run: pnpm build
      - run: pnpm dlx pkg-pr-new publish || true
  publish-nitro-nightly:
    runs-on: ubuntu-latest
    permissions: { id-token: write, contents: read }
    needs: [tests-checks, tests-rollup, tests-rolldown]
    if: contains('refs/heads/main', github.ref) && github.event_name == 'push'
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with: { fetch-depth: 0 }
      - run: npm i -fg corepack && corepack enable
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with: { node-version: lts/*, cache: "pnpm" }
      - run: pnpm install
      - run: pnpm build
      - run: pnpm changelogen --bump -r 3.0.1 --canary nightly
      - run: npm i -g npm@latest && npm publish --tag latest
